%p
  To learn programming takes a lot: problem solving skills, attention to detail, and juggling several layers of language and intentions at once.
  In a way, it's hardest at the very beginning.
  Some learners get over this hurdle easily and self-teach their way to a technology career.
  Some need the structure and group work of a classroom "boot camp" program like
  <a href='http://davincicoders.com'>DaVinci Coders</a>,
  <a href='http://gschool.it'>gSchool</a>,
  <a href='http://turing.io'>Turing School</a>, etc.
  before they're ready to self-teach.
  And some need individual attention at a slower pace before they're ready for the fast-paced classroom.

%p
  I'm looking for volunteers in that third group.
  I'm building a free educational web app called "Basic Ruby" that provides lots of simple examples and automatically graded exercises.
  When learners get stuck, they can always read the answer, see more examples, and do more exercises until they get it.
  I'll also lead a free meetup group for Boulder/Denver learners to encourage and coach each other.
  In return, they'll keep working through it at your own pace, letting me know any detail that is confusing or unclear.

%p &mdash;Daniel Stutzman
