!!!
%html

  %head
    %title= get_content_for(:title) or raise "Call set_content_for :title, 'x'"
    %link(href='/stylesheets/application.css' rel='stylesheet' type='text/css')
    = render 'google_analytics'

  %body
    = yield
