/ Begin MailChimp Signup Form
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{action: "http://basicruby.us8.list-manage2.com/subscribe/post?u=f019c76f3cacd4664130ea7e3&id=4c273880cb", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    %b To be notified when Basic Ruby launches:
    %input#mce-EMAIL.required.email{name: "EMAIL", placeholder: "Enter your email address here", size: "40", type: "email", value: ""}/
    %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subscribe"}/
    #mce-responses.clear
      #mce-error-response.response{style: "display:none"}
      #mce-success-response.response{style: "display:none"}
    / real people should not fill this in and expect good things - do not remove this or risk form bot signups
    %div{style: "position: absolute; left: -5000px;"}
      %input{name: "b_f019c76f3cacd4664130ea7e3_4c273880cb", type: "text", value: ""}/
/ End mc_embed_signup
