- set_content_for :title, 'Basic Ruby'

%h2
  %a(href='#' onclick="document.getElementById('about-text').style.display = (document.getElementById('about-text').style.display === 'block') ? 'none' : 'block'; return false;")
    Learn about the project

#about-text(style='display:none')
  = render 'about_text'

%h2
  %a(href='/lesson1')
    Try Lesson #1: Typing Accurately

= render 'mailchimp'
