- content_for :title, '1.1.2 Fix the NoMethodError'

:css
  body {
    background-color: #400;
  }
  p {
    color: white;
  }
  .breadcrumbs {
    font-size: 20pt;
  }
  .breadcrumbs a {
    color: #888;
  }

.breadcrumbs
  %a(href='/')
    = image_tag 'basic_ruby.png'
  &mdash;
  %a(href='/1') 1. Output
  &mdash;
  %a(href='/1.1.') 1.1. Output numbers
  &mdash;
  %a(href='/1.1.2') 1.1.2. Fix the <code>NoMethodError</code>

%p
  = image_tag 'exercise_icons/red_bug30.png', width: 30, height: 30
  This program raises an error on line 2 because of a typo.
  %br
  Run the broken program, and read the error message out loud.

.section.section2
  .code
    puts 1
    %br
    pust 2
    %br
    puts 1
  .machine
    .buttons
      = power_button
      = run_button
    .next-line
      <label style='display: block; font-size: 20pt; color: black; text-align: center; line-height: 18pt; text-shadow: 1px 1px #333, -1px -1px #111; position: relative; top: 30px'>N<br>e<br>x<br>t<br><br>L<br>i<br>n<br>e</label>
    .console(style='height:290px')
  %br(clear='all')

.actions
  %button Help
  %button Forward
  %button Show Answer
