$code-font-size: 30pt;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.exercise {
  margin: 0;
  font-family: sans-serif;

  .title {
    color: white;
    letter-spacing: 3px;
    padding-left: 60px;

    &.yellow { background-color: #873; }
    &.blue   { background-color: #004; }
    &.red    { background-color: #400; }
    &.green  { background-color: #050; }
    &.orange { background-color: #640; }

    a {
      text-decoration: none;
    }
  }
}
div.exercise {
  width: 840px;

  .yellow { background-color: #a94; }
  .blue   { background-color: #55a; }
  .red    { background-color: #600; }
  .green  { background-color: #484; }
  .orange { background-color: #a60; }

  .yellow { .CodeMirror-linenumbers { background-color: #a94; } }
  .blue   { .CodeMirror-linenumbers { background-color: #55a; } }
  .red    { .CodeMirror-linenumbers { background-color: #600; } }
  .green  { .CodeMirror-linenumbers { background-color: #484; } }
  .orange { .CodeMirror-linenumbers { background-color: #a60; } }

  .banner {
    font-size: 44pt;
    margin: 0;
    padding-top: 5px;
    padding-left: 65px;
    color: white;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    text-shadow: 1px 1px gray;
    height: 80px;

    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 0px 10px;

    &.yellow { background-image: image-url('exercise_icons/light_bulb30.png'); }
    &.blue   { background-image: image-url('exercise_icons/question_mark30.png'); }
    &.red    { background-image: image-url('exercise_icons/red_bug30.png'); }
    &.green  { background-image: image-url('exercise_icons/pen-and-paper-60.png'); }
    &.orange { background-image: image-url('exercise_icons/jack-o-lantern-60.png'); }
    &.red    { font-size: 32pt; padding-top: 20px; }
    &.green  { font-size: 31pt; padding-top: 20px; }
  }

  .buttons-above {
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    button {
      font-size: 12pt;
      padding: 0 14px;
      height: 40px;
      margin-right: 10px;
      &.do-another {
        padding: 0;
        width: 140px;
      }
      &.next {
        /* weird tweak to make buttons line up */
        position: relative;
        top: 1.5px;
      }
    }
  }

  .col-1-of-2 {
    width:550px;
    height:400px;
    float: left;

    textarea.code, .CodeMirror {
      width: 100%;
      height: 100%;
      background-color: #ddd;
      font-family: monospace;
      font-size: $code-font-size;

      .CodeMirror-linenumbers {
        width: 25px;
        padding-right: 18px;
      }
      .CodeMirror-linenumber {
        color: black;
        opacity: 0.25;
      }
    }
  }
  .col-2-of-2 {
    width: 250px;
    height: 450px;
    margin-left: 570px;

    .actual {
      overflow: scroll;
      height: 160px;
    }
    .expected {
      overflow: scroll;
      height: 160px;
      margin-bottom: 10px;
    }
    table {
      border-collapse: collapse;
      width: 250px;
      height: 135px + 25px; // label height

      &.expected {
        margin-bottom: 10px;
      }

      tr {
        vertical-align: top;
      }
      th {
        background-color: gray;
        text-transform: uppercase;
        font-size: 12pt;
        color: white;
        padding: 5px 0 0 2px;
        font-weight: bold;
        text-align: left;
        height: 25px;
        padding-right: 5px;
        .passed { color: #0f0; }
        .failed { color: #f00; }
      }
      td {
        background-color: white;
        font-family: monospace;
        font-size: 15pt;
        white-space: pre;
        word-wrap: break-word;
        border-bottom: 1px black solid;
        &.hidden {
          background-image: image-url('black-curtains.jpg');
          background-size: cover;
          .click-run {
            padding-top: 50px;
            font-size: 15pt;
            padding-left: 140px;
            padding-right: 10px;
            font-family: serif;
            font-style: italic;
            color: white;
            text-align: center;
            line-height: 1;
          }
        }
        span.stdin {
          background-color: yellow;
        }
        span.stderr {
          display: inline-block; // so text-indent is supported
          color: red;
          word-wrap: normal;
          white-space: normal;
          text-indent: -10px;
          margin-left: 10px;
        }
        textarea.expected {
          height: 60px;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 15pt;
          font-family: monospace;
          &.length1 { // if there's only one test case
            height: 100%;
          }
        }
        .passed { color: #070; }
        .failed { color: #f00; }
      } // end td
    } // end table
  }

  label {
    display: block;
    width: 100%;
    height: 25px;
    background-color: gray;
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    padding-right: 0;
    font-weight: bold;

    &.code {
      width: 489px;
      margin-left: 61px;
    }
    .equals {
      color: #0f0;
    }
    .not-equals {
      color: #f00;
    }
  }

  .buttons-under {
    margin-top: 10px;
    display: inline-block;
  }
  .buttons-under button {
    font-size: 20pt;
    width: 120px;
    height: 80px;
    margin: 0;
    float: left;
    &.run {
      margin-left: 10px;
    }
  }
}
