/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$border-width: 5px;
$code-font-size: 30pt;
$console-font-size: 30pt;
$min-width-for-extra-padding: 1000px;
$value-min-font-size: 16pt;

body.machine {
  font-family: sans-serif;
  margin: 0;

  .breadcrumbs {
    background-color: black;
    color: #333;
    font-size: 20pt;

    a {
      color: #888;
    }
  }

  h1 {
    margin: 0;
  }

  .section {
    .assignment-above {
      color: white;

      img {
        float: left;
        margin-top: 35px;
        margin-left: 15px;
      }
      p {
        margin: 0;
        padding: 20px 0;
        margin-left: 60px;
        font-size: 30pt;
        line-height: 45pt;
      }
    }

    textarea.code, .CodeMirror {
      width: 50%;
      height: 289px;
      float: left;
      background-color: #ddd;
      font-family:monospace;
      font-size: $code-font-size;
      @media all and (min-width: $min-width-for-extra-padding) {
        width: 48%;
        margin-right: 2%;
      }

      .CodeMirror-linenumbers {
        width: 25px;
        padding-right: 18px;
        background-color: #ddd;
      }
      .CodeMirror-linenumber {
        color: black;
        opacity: 0.25;
      }
    }

    .machine {
      background-color: #333;
      float: left;
      border: $border-width #222 solid;
      border-top: $border-width #555 solid;
      width: 50%;
      @media all and (min-width: $min-width-for-extra-padding) {
        margin-left: 2%;
        width: 44%;
        margin-right: 4%;
      }

      .buttons {
        text-align: right;
        padding: 5px;

        button {
          padding: 12px 20px;
          font-size: 12pt;
          margin: 0;

          &.active {
            color: #0a0;
            text-shadow: 0px 0px 6px #0f0;
          }
          &:disabled {
            color: #aaa;
            opacity: 1.0;
          }
        }
      }

      label {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #333;
        display: block;
        padding-left: 10px;
        font-size: 10pt;
      }

      .partial-calls {
        table {
          border-collapse: collapse;
        }
        tr {
          background-color: black;
          &.executing {
            background-color: #0f0;
            td {
              color: black;
            }
          }
          &.no-calls {
            height: 10px;
          }
        }
        th {
          text-align: left;
          font-size: 10pt;
          text-transform: uppercase;
          color: #000;
          background-color: #333;
          padding: 0 10px;
          &.extra-space {
            width: 100%;
          }
          white-space: nowrap;
        }
        td {
          color: #0f0;
          font-size: 20pt;
          text-align: center;
          &.extra-space {
            width: 100%;
          }
          .main {
            color: #040;
          }
          .string-interpolation {
            color: #040;
            font-size: 10pt;
          }
        }
      }

      .variables {
        width: 200px;
        height: 120px;
        background-color: black;
        border: 2px #222 solid;
        border-bottom: 2px #444 solid;
        color: #0f0;
        font-size: 20pt;
        width: 100%;
        padding-left: 15px;

        th {
          font-weight: normal;
          padding-bottom: 2px;
          padding-right: 15px;
          text-align: left;
          &.future {
            color: #080;
          }
        }
        td {
          padding-right: 15px;
          &.future {
            color: #080;
          }
        }
      }

      .instructions {
        position: relative;
        width: 100%;
        height: 140px;
        color: #0f0;
        font-size: $code-font-size;
        font-family: monospace;
        background-color: black;

        .pointer {
          position: absolute;
          top: 40px;
        }

        .content {
          width: 100%;
          height: inherit;
          overflow: scroll;

          .num {
            float: left;
            width: 60px;
            overflow: hidden;
            color: #060;
            padding-left: 20px;
            text-align: right;
            clear: left;
          }
          .code {
            margin-left: 80px;
            white-space: pre-wrap;

            span.highlight {
              background-color: #0f0;
              color: black;
            }
          }
        }
      }

      .console {
        width: 100%;
        height: 60px;
        background-color: black;
        border: 2px #222 solid;
        border-bottom: 2px #444 solid;
        color: #0f0;
        font-size: $console-font-size;
        overflow: scroll;
        font-family: monospace;
        word-wrap: break-word;

        .before-cursor {
          margin: 0;
          white-space: pre;
          background-color: #040;
        }
        .cursor {
          background-color: #0f0;
          width: $console-font-size * 0.5;
          height: $console-font-size * 0.9;
          margin-left: 2px;
          display: inline-block;
          line-height: 0;
        }
      } // end .console

      &.off {
        .instructions {
          .pointer {
            display: none;
          }
        }
        .console {
          .before-cursor {
            display: none;
          }
          .cursor {
            display: none;
          }
        }
      }

      .string-value {
        font-family: monospace;
        white-space: pre-wrap;
        background-color: #040;
        display: inline-block; // so its width doesn't expand
      }
      .empty-string-value {
        white-space: pre;
        color: #040;
        font-size: $value-min-font-size;
      }
      .true-value, .false-value {
        font-size: $value-min-font-size;
      }
      .nil-value {
        color: #040;
        font-size: $value-min-font-size;
      }
    } // end .machine

    .cases {
      margin-left: 20px;
      float: left;
      background-color: #333;
      width: 150px;
      padding: 5px;
      border: 3px #272727 solid;
      border-top: 3px #444 solid;

      .buttons {
        padding-top: 3px;
        padding-bottom: 8px;

        button {
          padding: 4px 6px;
        }
      }

      table {
        border-spacing: 0px 4px;
      }
      th {
        padding: 2px 5px;
        color: #333;
        text-shadow: 1px 1px #444;
        text-transform: uppercase;
        font-size: 10pt;
      }
      td {
        color: white;
        text-align: right;
        padding: 2px 5px;
        font-family: monospace;
      }
    }

    &.section1 {
      textarea.code, .CodeMirror {
        height: 20px;
        background-color: transparent;
        border: 0;
      }
      .icon {
        background-color: #aaa;
        color: #004;
        width: 30px;
        height: 30px;
        float: left;
        font-size: 20pt;
        text-align: center;
        font-weight: bold;
      }
      .hider {
        position: absolute;
        top: 128px;
        width: 100%;
        text-align: right;
        button {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          position: relative;
          top: -65px;
          right: -30px;
          background: transparent;
          border: 1px #aaa solid;
          border-top: 1px #ccc solid;
          border-bottom: 1px #999 solid;
          color: #aaa;
        }
      }
      .assignment {
        margin-left: 40px;
        color: white;
      }
      .machine {
        background-color: #117;
        border: 3px #004 solid;
        border-top: 3px #227 solid;
        .console {
          height: 70px;
          width: 265px;
          margin-left: 0;
        }
      }
      .cases {
        background-color: #117;
        border: 3px #004 solid;
        border-top: 3px #227 solid;
        th {
          color: #117;
          text-shadow: 1px 1px #338;
        }
      }
    } // end .section1

    &.section2 {
      .cases {
        td.input {
          color: #999;
        }
        td.output {
          color: #0f0;
          background-color: black;
        }
      }
    }

    &.answer-section {
      padding-top: 10px;
      background-color: #960;

      .hider {
        position: absolute;
        top: 95%;
        right: 10px;
        button {
          background: transparent;
          border: 1px #aaa solid;
          border-top: 1px #ccc solid;
          border-bottom: 1px #999 solid;
          color: #aaa;
        }
      }

      textarea.code, .CodeMirror {
        background-color: #ddd;
        .CodeMirror-linenumbers {
          background-color: #960;
        }
        .CodeMirror-linenumber {
          color: white;
        }
      }
      .machine {
        background-color: #b80;
        border: $border-width #750 solid;
        border-top: $border-width #c90 solid;
        border-bottom: $border-width #640 solid;
      }
      .cases {
        background-color: #b80;
        border: 3px #750 solid;
        border-top: 3px #c90 solid;

        th {
          color: #b80;
          text-shadow: 1px 1px #750;
        }
        td.out-scratch {
          background-color: black;
        }
      }
    } // end .answer-section

    &.bug-section {
      background-color: #400;

      textarea.code, .CodeMirror {
        background-color: #eee;
        .CodeMirror-linenumbers {
          background-color: #400;
        }
        .CodeMirror-linenumber {
          color: white;
        }
      }
    } // end .bug-section

  } // end .section

  .actions {
    position: fixed;
    background-color: #777;
    right: 0px;
    bottom: 0px;
    padding: 10px;

    button {
      padding: 10px 30px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 20pt;
    }
  }

} // end body.machine
