body.static {
  width: 960px;
  border: 1px;
  font-family: sans-serif;
  margin: 0 auto;

  p {
    font-size: 20pt;
    width: 800px;
    line-height: 42pt;
    margin: 40px auto;
    font-family: serif;
    text-align: justify;
  }

  h1.basic-ruby {
    font-size: 60pt;
    margin: 60px 0 0 0;
    background-image: image-url("basic_ruby7.png");
    width: 518px;
    height: 63px;
    text-indent: -9999px;
    float: left;
  }

  .learn-programming {
    font-size: 30pt;
    background-image: image-url("learn3.png");
    width: 348px;
    height: 87px;
    text-indent: -9999px;
    margin-top: 34px;
    float: right;
  }

  h2.choice {
    font-size: 30pt;
    margin: 60px 60px;
  }

  .video {
    width: 950px;
    height: 500px;
    border: 1px black solid;
    margin: 40px 0;
  }

  .main-menu-link {
    font-size: 40pt;
    margin-top: 10px;
    float: right;
    border-bottom: 4px #4b8ece solid;
    background-image: image-url("main_menu8.png");
    width: 688px;
    height: 56px;
    text-transform: uppercase;
    text-indent: -9999px;
  }

  .nav-pills li {
    font-size: 18pt;
    font-family: 'Roboto';
    font-weight: 100;
    padding: 0 15px;
  }

  a.level-indicator {
    display: inline-block;
    width: 120px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: (120px - 48px)/2 0;

    &.level-0:hover {
        background-image:image-url('level_indicators/white/0-1.png') !important;
    }
    &.level-1:hover {
        background-image:image-url('level_indicators/white/1-2.png') !important;
    }
    &.level-2:hover {
        background-image:image-url('level_indicators/white/2-3.png') !important;
    }
    &.level-3:hover {
        background-image:image-url('level_indicators/white/3-4.png') !important;
    }
    &.level-4:hover {
        background-image:image-url('level_indicators/white/3-4.png') !important;
    }
  }
  td {
    text-align: center;
    vertical-align: center;
    width: 100px;
    padding-bottom: 20px;
  }
  th {
    color: #fff;
    font-weight: bold;
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0 1px #aaa, 1px 0 #aaa;

    &.title {
      color: black;
      font-size: 20pt;
      font-weight: bold;
      width: 360px;
      text-align: right;
      padding-right: 30px;
      text-shadow: none;
    }
  }
  td.yellow, th.yellow {
    background-color:#ee9;
    a.level-indicator {
      color: #cb0;
      &.level-0 { background-image:image-url('level_indicators/yellow/0.png'); }
      &.level-1 { background-image:image-url('level_indicators/yellow/1.png'); }
      &.level-2 { background-image:image-url('level_indicators/yellow/2.png'); }
      &.level-3 { background-image:image-url('level_indicators/yellow/3.png'); }
      &.level-4 { background-image:image-url('level_indicators/yellow/4.png'); }
    }
  }
  td.blue, th.blue {
    background-color:#acf;
    a.level-indicator {
      color: #44f;
      &.level-0 { background-image:image-url('level_indicators/blue/0.png'); }
      &.level-1 { background-image:image-url('level_indicators/blue/1.png'); }
      &.level-2 { background-image:image-url('level_indicators/blue/2.png'); }
      &.level-3 { background-image:image-url('level_indicators/blue/3.png'); }
      &.level-4 { background-image:image-url('level_indicators/blue/4.png'); }
    }
  }
  td.red, th.red {
    background-color:#fcc;
    a.level-indicator {
      color: #f44;
      &.level-0 { background-image:image-url('level_indicators/red/0.png'); }
      &.level-1 { background-image:image-url('level_indicators/red/1.png'); }
      &.level-2 { background-image:image-url('level_indicators/red/2.png'); }
      &.level-3 { background-image:image-url('level_indicators/red/3.png'); }
      &.level-4 { background-image:image-url('level_indicators/red/4.png'); }
    }
  }
  td.green, th.green {
    background-color:#afa;
    a.level-indicator {
      color: #0a0;
      &.level-0 { background-image:image-url('level_indicators/green/0.png'); }
      &.level-1 { background-image:image-url('level_indicators/green/1.png'); }
      &.level-2 { background-image:image-url('level_indicators/green/2.png'); }
      &.level-3 { background-image:image-url('level_indicators/green/3.png'); }
      &.level-4 { background-image:image-url('level_indicators/green/4.png'); }
    }
  }
  td.orange, th.orange {
    background-color:#fd8;
    a.level-indicator {
      color: #e70;
      &.level-0 { background-image:image-url('level_indicators/orange/0.png'); }
      &.level-1 { background-image:image-url('level_indicators/orange/1.png'); }
      &.level-2 { background-image:image-url('level_indicators/orange/2.png'); }
      &.level-3 { background-image:image-url('level_indicators/orange/3.png'); }
      &.level-4 { background-image:image-url('level_indicators/orange/4.png'); }
    }
  }
  td a.level-indicator:hover {
    color: #fff;
  }
}
