body.static {
  width: 960px;
  border: 1px;
  font-family: sans-serif;
  margin: 0 auto;

  p {
    font-size: 20pt;
    width: 800px;
    line-height: 42pt;
    margin: 40px auto;
    font-family: serif;
    text-align: justify;
  }

  h1.basic-ruby {
    font-size: 60pt;
    margin: 60px 0 0 0;
    background-image: image-url("basic_ruby7.png");
    width: 518px;
    height: 63px;
    text-indent: -9999px;
    float: left;
  }

  .learn-programming {
    font-size: 30pt;
    background-image: image-url("learn3.png");
    width: 348px;
    height: 87px;
    text-indent: -9999px;
    margin-top: 34px;
    float: right;
  }

  h2.choice {
    font-size: 30pt;
    margin: 60px 60px;
  }

  .video {
    width: 950px;
    height: 500px;
    border: 1px black solid;
    margin: 40px 0;
  }

  .main-menu-link {
    font-size: 40pt;
    margin-top: 10px;
    float: right;
    border-bottom: 4px #4b8ece solid;
    background-image: image-url("main_menu8.png");
    width: 688px;
    height: 56px;
    text-transform: uppercase;
    text-indent: -9999px;
  }

  .nav-pills li {
    font-size: 18pt;
    font-family: 'Roboto';
    font-weight: 100;
    padding: 0 15px;
  }
}
