- content_for :title, 'Lesson 2 - Variables'

%h1 Lesson 2 &mdash; puts with string literals (no interpolation), Variables, input, and output for numbers

(Also introduce test cases here)
Runtime vs. compile time

Use only x, y, and z for variables at first?

/ Video example: 

%li Naming variables appropriately?
%li Assigning to variables

%li puts x vs. puts "x"
%li Assign to variable from input?

%li Problem: there's no need to use variables? :-(

%li
  I need an example where it's problematic to repeat an expression?
  %li Read from keyboard twice, but use both

%li
  I need an example where it's impossible to repeat code?
  (something besides a while loop with an accumulator?)
