- content_for :title, 'Lesson 1 - Catching Typos'

%h1 Lesson 1 &mdash; Catching Typos

%i (Under construction: none of the links work yet.)

%p Crutch: show location of symbols on keyboard
%p Crutch: show correct typing as green, incorrect as red
%p Crutch: mirror copy-to cursor to copy-from window

/ Video example: editing complex ERb file

%h2 1.1: Keeping your place when comparing two texts
%li lowercase words with spaces and numbers and dot (puts 123, gets.chomp)
%li newline, indentation (while true end, for a in 1..3)
%li minus, equals (variables)

%h2 1.2: Keeping track of matching pairs
%li parens
%li double quotes and closing them!
%li angle brackets and forward slash (HTML)
%li square brackets, curly braces

%h2 1.3: Distinguishing between similar symbols
%li capitalization (active record)
%li pluralization
%li underscore not dash, plus
%li pound, star (comments)
%li colon vs. semicolon
%li backslash not forward slash, pipe
